src/main/java/ws/business/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.business.lifecoach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.business.lifecoach/"
        name="BusinessService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.localdb.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-business.herokuapp.com/ws/business?xsd=1"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.business.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-business.herokuapp.com/ws/business?xsd=2"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.adaptor.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-business.herokuapp.com/ws/business?xsd=3"></xsd:import>
        </xsd:schema>
    </types>
    <message name="createPerson">
        <part name="parameters" element="tns:createPerson"></part>
    </message>
    <message name="createPersonResponse">
        <part name="parameters" element="tns:createPersonResponse"></part>
    </message>
    <message name="updatePerson">
        <part name="parameters" element="tns:updatePerson"></part>
    </message>
    <message name="updatePersonResponse">
        <part name="parameters" element="tns:updatePersonResponse"></part>
    </message>
    <message name="deletePerson">
        <part name="parameters" element="tns:deletePerson"></part>
    </message>
    <message name="deletePersonResponse">
        <part name="parameters" element="tns:deletePersonResponse"></part>
    </message>
    <message name="createMeasure">
        <part name="parameters" element="tns:createMeasure"></part>
    </message>
    <message name="createMeasureResponse">
        <part name="parameters" element="tns:createMeasureResponse"></part>
    </message>
    <message name="updateMeasure">
        <part name="parameters" element="tns:updateMeasure"></part>
    </message>
    <message name="updateMeasureResponse">
        <part name="parameters" element="tns:updateMeasureResponse"></part>
    </message>
    <message name="deleteMeasure">
        <part name="parameters" element="tns:deleteMeasure"></part>
    </message>
    <message name="deleteMeasureResponse">
        <part name="parameters" element="tns:deleteMeasureResponse"></part>
    </message>
    <message name="getGoals">
        <part name="parameters" element="tns:getGoals"></part>
    </message>
    <message name="getGoalsResponse">
        <part name="parameters" element="tns:getGoalsResponse"></part>
    </message>
    <message name="createGoal">
        <part name="parameters" element="tns:createGoal"></part>
    </message>
    <message name="createGoalResponse">
        <part name="parameters" element="tns:createGoalResponse"></part>
    </message>
    <message name="updateGoal">
        <part name="parameters" element="tns:updateGoal"></part>
    </message>
    <message name="updateGoalResponse">
        <part name="parameters" element="tns:updateGoalResponse"></part>
    </message>
    <message name="deleteGoal">
        <part name="parameters" element="tns:deleteGoal"></part>
    </message>
    <message name="deleteGoalResponse">
        <part name="parameters" element="tns:deleteGoalResponse"></part>
    </message>
    <message name="deleteGoalByTitle">
        <part name="parameters" element="tns:deleteGoalByTitle"></part>
    </message>
    <message name="deleteGoalByTitleResponse">
        <part name="parameters" element="tns:deleteGoalByTitleResponse"></part>
    </message>
    <message name="getBmi">
        <part name="parameters" element="tns:getBmi"></part>
    </message>
    <message name="getBmiResponse">
        <part name="parameters" element="tns:getBmiResponse"></part>
    </message>
    <portType name="Business">
        <operation name="createPerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createPersonRequest"
                   message="tns:createPerson"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createPersonResponse"
                    message="tns:createPersonResponse"></output>
        </operation>
        <operation name="updatePerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updatePersonRequest"
                   message="tns:updatePerson"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updatePersonResponse"
                    message="tns:updatePersonResponse"></output>
        </operation>
        <operation name="deletePerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deletePersonRequest"
                   message="tns:deletePerson"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deletePersonResponse"
                    message="tns:deletePersonResponse"></output>
        </operation>
        <operation name="createMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createMeasureRequest"
                   message="tns:createMeasure"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createMeasureResponse"
                    message="tns:createMeasureResponse"></output>
        </operation>
        <operation name="updateMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updateMeasureRequest"
                   message="tns:updateMeasure"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updateMeasureResponse"
                    message="tns:updateMeasureResponse"></output>
        </operation>
        <operation name="deleteMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteMeasureRequest"
                   message="tns:deleteMeasure"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteMeasureResponse"
                    message="tns:deleteMeasureResponse"></output>
        </operation>
        <operation name="getGoals">
            <input wsam:Action="http://webservice.business.lifecoach/Business/getGoalsRequest"
                   message="tns:getGoals"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/getGoalsResponse"
                    message="tns:getGoalsResponse"></output>
        </operation>
        <operation name="createGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createGoalRequest"
                   message="tns:createGoal"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createGoalResponse"
                    message="tns:createGoalResponse"></output>
        </operation>
        <operation name="updateGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updateGoalRequest"
                   message="tns:updateGoal"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updateGoalResponse"
                    message="tns:updateGoalResponse"></output>
        </operation>
        <operation name="deleteGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalRequest"
                   message="tns:deleteGoal"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalResponse"
                    message="tns:deleteGoalResponse"></output>
        </operation>
        <operation name="deleteGoalByTitle">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalByTitleRequest"
                   message="tns:deleteGoalByTitle"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalByTitleResponse"
                    message="tns:deleteGoalByTitleResponse"></output>
        </operation>
        <operation name="getBmi">
            <input wsam:Action="http://webservice.business.lifecoach/Business/getBmiRequest"
                   message="tns:getBmi"></input>
            <output wsam:Action="http://webservice.business.lifecoach/Business/getBmiResponse"
                    message="tns:getBmiResponse"></output>
        </operation>
    </portType>
    <binding name="BusinessImplementationPortBinding" type="tns:Business">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="createPerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updatePerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deletePerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="createMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getGoals">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="createGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteGoalByTitle">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getBmi">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="BusinessService">
        <port name="BusinessImplementationPort" binding="tns:BusinessImplementationPortBinding">
            <soap:address location="http://introsde-lifecoach-business.herokuapp.com/ws/business"></soap:address>
        </port>
    </service>
</definitions>