src/main/java/lifestylecoach/ws/storage/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.storage.lifecoach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.storage.lifecoach/"
        name="StorageService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.storage.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-storage.herokuapp.com/ws/storage?xsd=1"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.localdb.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-storage.herokuapp.com/ws/storage?xsd=2"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.adaptor.lifecoach/"
                        schemaLocation="http://introsde-lifecoach-storage.herokuapp.com/ws/storage?xsd=3"></xsd:import>
        </xsd:schema>
    </types>
    <message name="readPerson">
        <part name="parameters" element="tns:readPerson"></part>
    </message>
    <message name="readPersonResponse">
        <part name="parameters" element="tns:readPersonResponse"></part>
    </message>
    <message name="createPerson">
        <part name="parameters" element="tns:createPerson"></part>
    </message>
    <message name="createPersonResponse">
        <part name="parameters" element="tns:createPersonResponse"></part>
    </message>
    <message name="updatePerson">
        <part name="parameters" element="tns:updatePerson"></part>
    </message>
    <message name="updatePersonResponse">
        <part name="parameters" element="tns:updatePersonResponse"></part>
    </message>
    <message name="deletePerson">
        <part name="parameters" element="tns:deletePerson"></part>
    </message>
    <message name="deletePersonResponse">
        <part name="parameters" element="tns:deletePersonResponse"></part>
    </message>
    <message name="readMeasure">
        <part name="parameters" element="tns:readMeasure"></part>
    </message>
    <message name="readMeasureResponse">
        <part name="parameters" element="tns:readMeasureResponse"></part>
    </message>
    <message name="getMeasureHistory">
        <part name="parameters" element="tns:getMeasureHistory"></part>
    </message>
    <message name="getMeasureHistoryResponse">
        <part name="parameters" element="tns:getMeasureHistoryResponse"></part>
    </message>
    <message name="getSomeMeasure">
        <part name="parameters" element="tns:getSomeMeasure"></part>
    </message>
    <message name="getSomeMeasureResponse">
        <part name="parameters" element="tns:getSomeMeasureResponse"></part>
    </message>
    <message name="getLastMeasure">
        <part name="parameters" element="tns:getLastMeasure"></part>
    </message>
    <message name="getLastMeasureResponse">
        <part name="parameters" element="tns:getLastMeasureResponse"></part>
    </message>
    <message name="getLastMeasureByType">
        <part name="parameters" element="tns:getLastMeasureByType"></part>
    </message>
    <message name="getLastMeasureByTypeResponse">
        <part name="parameters" element="tns:getLastMeasureByTypeResponse"></part>
    </message>
    <message name="createMeasure">
        <part name="parameters" element="tns:createMeasure"></part>
    </message>
    <message name="createMeasureResponse">
        <part name="parameters" element="tns:createMeasureResponse"></part>
    </message>
    <message name="updateMeasure">
        <part name="parameters" element="tns:updateMeasure"></part>
    </message>
    <message name="updateMeasureResponse">
        <part name="parameters" element="tns:updateMeasureResponse"></part>
    </message>
    <message name="deleteMeasure">
        <part name="parameters" element="tns:deleteMeasure"></part>
    </message>
    <message name="deleteMeasureResponse">
        <part name="parameters" element="tns:deleteMeasureResponse"></part>
    </message>
    <message name="readMeasureType">
        <part name="parameters" element="tns:readMeasureType"></part>
    </message>
    <message name="readMeasureTypeResponse">
        <part name="parameters" element="tns:readMeasureTypeResponse"></part>
    </message>
    <message name="getMeasureTypeList">
        <part name="parameters" element="tns:getMeasureTypeList"></part>
    </message>
    <message name="getMeasureTypeListResponse">
        <part name="parameters" element="tns:getMeasureTypeListResponse"></part>
    </message>
    <message name="getIdMeasureTypeByType">
        <part name="parameters" element="tns:getIdMeasureTypeByType"></part>
    </message>
    <message name="getIdMeasureTypeByTypeResponse">
        <part name="parameters" element="tns:getIdMeasureTypeByTypeResponse"></part>
    </message>
    <message name="getGoals">
        <part name="parameters" element="tns:getGoals"></part>
    </message>
    <message name="getGoalsResponse">
        <part name="parameters" element="tns:getGoalsResponse"></part>
    </message>
    <message name="readGoal">
        <part name="parameters" element="tns:readGoal"></part>
    </message>
    <message name="readGoalResponse">
        <part name="parameters" element="tns:readGoalResponse"></part>
    </message>
    <message name="getGoalHistory">
        <part name="parameters" element="tns:getGoalHistory"></part>
    </message>
    <message name="getGoalHistoryResponse">
        <part name="parameters" element="tns:getGoalHistoryResponse"></part>
    </message>
    <message name="createGoal">
        <part name="parameters" element="tns:createGoal"></part>
    </message>
    <message name="createGoalResponse">
        <part name="parameters" element="tns:createGoalResponse"></part>
    </message>
    <message name="updateGoal">
        <part name="parameters" element="tns:updateGoal"></part>
    </message>
    <message name="updateGoalResponse">
        <part name="parameters" element="tns:updateGoalResponse"></part>
    </message>
    <message name="deleteGoal">
        <part name="parameters" element="tns:deleteGoal"></part>
    </message>
    <message name="deleteGoalResponse">
        <part name="parameters" element="tns:deleteGoalResponse"></part>
    </message>
    <message name="getGoalByTitle">
        <part name="parameters" element="tns:getGoalByTitle"></part>
    </message>
    <message name="getGoalByTitleResponse">
        <part name="parameters" element="tns:getGoalByTitleResponse"></part>
    </message>
    <message name="readGoalType">
        <part name="parameters" element="tns:readGoalType"></part>
    </message>
    <message name="readGoalTypeResponse">
        <part name="parameters" element="tns:readGoalTypeResponse"></part>
    </message>
    <message name="getGoalTypeList">
        <part name="parameters" element="tns:getGoalTypeList"></part>
    </message>
    <message name="getGoalTypeListResponse">
        <part name="parameters" element="tns:getGoalTypeListResponse"></part>
    </message>
    <message name="getBmi">
        <part name="parameters" element="tns:getBmi"></part>
    </message>
    <message name="getBmiResponse">
        <part name="parameters" element="tns:getBmiResponse"></part>
    </message>
    <portType name="Storage">
        <operation name="readPerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readPersonRequest"
                   message="tns:readPerson"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readPersonResponse"
                    message="tns:readPersonResponse"></output>
        </operation>
        <operation name="createPerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createPersonRequest"
                   message="tns:createPerson"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createPersonResponse"
                    message="tns:createPersonResponse"></output>
        </operation>
        <operation name="updatePerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updatePersonRequest"
                   message="tns:updatePerson"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updatePersonResponse"
                    message="tns:updatePersonResponse"></output>
        </operation>
        <operation name="deletePerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deletePersonRequest"
                   message="tns:deletePerson"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deletePersonResponse"
                    message="tns:deletePersonResponse"></output>
        </operation>
        <operation name="readMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureRequest"
                   message="tns:readMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureResponse"
                    message="tns:readMeasureResponse"></output>
        </operation>
        <operation name="getMeasureHistory">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureHistoryRequest"
                   message="tns:getMeasureHistory"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureHistoryResponse"
                    message="tns:getMeasureHistoryResponse"></output>
        </operation>
        <operation name="getSomeMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getSomeMeasureRequest"
                   message="tns:getSomeMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getSomeMeasureResponse"
                    message="tns:getSomeMeasureResponse"></output>
        </operation>
        <operation name="getLastMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureRequest"
                   message="tns:getLastMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureResponse"
                    message="tns:getLastMeasureResponse"></output>
        </operation>
        <operation name="getLastMeasureByType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureByTypeRequest"
                   message="tns:getLastMeasureByType"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureByTypeResponse"
                    message="tns:getLastMeasureByTypeResponse"></output>
        </operation>
        <operation name="createMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createMeasureRequest"
                   message="tns:createMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createMeasureResponse"
                    message="tns:createMeasureResponse"></output>
        </operation>
        <operation name="updateMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updateMeasureRequest"
                   message="tns:updateMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updateMeasureResponse"
                    message="tns:updateMeasureResponse"></output>
        </operation>
        <operation name="deleteMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deleteMeasureRequest"
                   message="tns:deleteMeasure"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deleteMeasureResponse"
                    message="tns:deleteMeasureResponse"></output>
        </operation>
        <operation name="readMeasureType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureTypeRequest"
                   message="tns:readMeasureType"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureTypeResponse"
                    message="tns:readMeasureTypeResponse"></output>
        </operation>
        <operation name="getMeasureTypeList">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureTypeListRequest"
                   message="tns:getMeasureTypeList"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureTypeListResponse"
                    message="tns:getMeasureTypeListResponse"></output>
        </operation>
        <operation name="getIdMeasureTypeByType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getIdMeasureTypeByTypeRequest"
                   message="tns:getIdMeasureTypeByType"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getIdMeasureTypeByTypeResponse"
                    message="tns:getIdMeasureTypeByTypeResponse"></output>
        </operation>
        <operation name="getGoals">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalsRequest"
                   message="tns:getGoals"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalsResponse"
                    message="tns:getGoalsResponse"></output>
        </operation>
        <operation name="readGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalRequest"
                   message="tns:readGoal"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalResponse"
                    message="tns:readGoalResponse"></output>
        </operation>
        <operation name="getGoalHistory">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalHistoryRequest"
                   message="tns:getGoalHistory"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalHistoryResponse"
                    message="tns:getGoalHistoryResponse"></output>
        </operation>
        <operation name="createGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createGoalRequest"
                   message="tns:createGoal"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createGoalResponse"
                    message="tns:createGoalResponse"></output>
        </operation>
        <operation name="updateGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updateGoalRequest"
                   message="tns:updateGoal"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updateGoalResponse"
                    message="tns:updateGoalResponse"></output>
        </operation>
        <operation name="deleteGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deleteGoalRequest"
                   message="tns:deleteGoal"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deleteGoalResponse"
                    message="tns:deleteGoalResponse"></output>
        </operation>
        <operation name="getGoalByTitle">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalByTitleRequest"
                   message="tns:getGoalByTitle"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalByTitleResponse"
                    message="tns:getGoalByTitleResponse"></output>
        </operation>
        <operation name="readGoalType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalTypeRequest"
                   message="tns:readGoalType"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalTypeResponse"
                    message="tns:readGoalTypeResponse"></output>
        </operation>
        <operation name="getGoalTypeList">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalTypeListRequest"
                   message="tns:getGoalTypeList"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalTypeListResponse"
                    message="tns:getGoalTypeListResponse"></output>
        </operation>
        <operation name="getBmi">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getBmiRequest" message="tns:getBmi"></input>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getBmiResponse"
                    message="tns:getBmiResponse"></output>
        </operation>
    </portType>
    <binding name="StorageImplementationPortBinding" type="tns:Storage">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="readPerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="createPerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updatePerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deletePerson">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="readMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getMeasureHistory">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getSomeMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getLastMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getLastMeasureByType">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="createMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteMeasure">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="readMeasureType">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getMeasureTypeList">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getIdMeasureTypeByType">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getGoals">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="readGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getGoalHistory">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="createGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="updateGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="deleteGoal">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getGoalByTitle">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="readGoalType">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getGoalTypeList">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getBmi">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="StorageService">
        <port name="StorageImplementationPort" binding="tns:StorageImplementationPortBinding">
            <soap:address location="http://introsde-lifecoach-storage.herokuapp.com/ws/storage"></soap:address>
        </port>
    </service>
</definitions>