src/main/java/lifestylecoach/ws/storage/storage.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.storage.lifecoach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.storage.lifecoach/"
        name="StorageService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.storage.lifecoach/"
                        schemaLocation="http://localhost:6902/ws/storage?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.localdb.lifecoach/"
                        schemaLocation="http://localhost:6902/ws/storage?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.adaptor.lifecoach/"
                        schemaLocation="http://localhost:6902/ws/storage?xsd=3"/>
        </xsd:schema>
    </types>
    <message name="readPerson">
        <part name="parameters" element="tns:readPerson"/>
    </message>
    <message name="readPersonResponse">
        <part name="parameters" element="tns:readPersonResponse"/>
    </message>
    <message name="createPerson">
        <part name="parameters" element="tns:createPerson"/>
    </message>
    <message name="createPersonResponse">
        <part name="parameters" element="tns:createPersonResponse"/>
    </message>
    <message name="updatePerson">
        <part name="parameters" element="tns:updatePerson"/>
    </message>
    <message name="updatePersonResponse">
        <part name="parameters" element="tns:updatePersonResponse"/>
    </message>
    <message name="deletePerson">
        <part name="parameters" element="tns:deletePerson"/>
    </message>
    <message name="deletePersonResponse">
        <part name="parameters" element="tns:deletePersonResponse"/>
    </message>
    <message name="readMeasure">
        <part name="parameters" element="tns:readMeasure"/>
    </message>
    <message name="readMeasureResponse">
        <part name="parameters" element="tns:readMeasureResponse"/>
    </message>
    <message name="getMeasureHistory">
        <part name="parameters" element="tns:getMeasureHistory"/>
    </message>
    <message name="getMeasureHistoryResponse">
        <part name="parameters" element="tns:getMeasureHistoryResponse"/>
    </message>
    <message name="getSomeMeasure">
        <part name="parameters" element="tns:getSomeMeasure"/>
    </message>
    <message name="getSomeMeasureResponse">
        <part name="parameters" element="tns:getSomeMeasureResponse"/>
    </message>
    <message name="getLastMeasure">
        <part name="parameters" element="tns:getLastMeasure"/>
    </message>
    <message name="getLastMeasureResponse">
        <part name="parameters" element="tns:getLastMeasureResponse"/>
    </message>
    <message name="createMeasure">
        <part name="parameters" element="tns:createMeasure"/>
    </message>
    <message name="createMeasureResponse">
        <part name="parameters" element="tns:createMeasureResponse"/>
    </message>
    <message name="updateMeasure">
        <part name="parameters" element="tns:updateMeasure"/>
    </message>
    <message name="updateMeasureResponse">
        <part name="parameters" element="tns:updateMeasureResponse"/>
    </message>
    <message name="deleteMeasure">
        <part name="parameters" element="tns:deleteMeasure"/>
    </message>
    <message name="deleteMeasureResponse">
        <part name="parameters" element="tns:deleteMeasureResponse"/>
    </message>
    <message name="readMeasureType">
        <part name="parameters" element="tns:readMeasureType"/>
    </message>
    <message name="readMeasureTypeResponse">
        <part name="parameters" element="tns:readMeasureTypeResponse"/>
    </message>
    <message name="getMeasureTypeList">
        <part name="parameters" element="tns:getMeasureTypeList"/>
    </message>
    <message name="getMeasureTypeListResponse">
        <part name="parameters" element="tns:getMeasureTypeListResponse"/>
    </message>
    <message name="readGoal">
        <part name="parameters" element="tns:readGoal"/>
    </message>
    <message name="readGoalResponse">
        <part name="parameters" element="tns:readGoalResponse"/>
    </message>
    <message name="getGoalHistory">
        <part name="parameters" element="tns:getGoalHistory"/>
    </message>
    <message name="getGoalHistoryResponse">
        <part name="parameters" element="tns:getGoalHistoryResponse"/>
    </message>
    <message name="createGoal">
        <part name="parameters" element="tns:createGoal"/>
    </message>
    <message name="createGoalResponse">
        <part name="parameters" element="tns:createGoalResponse"/>
    </message>
    <message name="updateGoal">
        <part name="parameters" element="tns:updateGoal"/>
    </message>
    <message name="updateGoalResponse">
        <part name="parameters" element="tns:updateGoalResponse"/>
    </message>
    <message name="deleteGoal">
        <part name="parameters" element="tns:deleteGoal"/>
    </message>
    <message name="deleteGoalResponse">
        <part name="parameters" element="tns:deleteGoalResponse"/>
    </message>
    <message name="getGoalByTitle">
        <part name="parameters" element="tns:getGoalByTitle"/>
    </message>
    <message name="getGoalByTitleResponse">
        <part name="parameters" element="tns:getGoalByTitleResponse"/>
    </message>
    <message name="readGoalType">
        <part name="parameters" element="tns:readGoalType"/>
    </message>
    <message name="readGoalTypeResponse">
        <part name="parameters" element="tns:readGoalTypeResponse"/>
    </message>
    <message name="getGoalTypeList">
        <part name="parameters" element="tns:getGoalTypeList"/>
    </message>
    <message name="getGoalTypeListResponse">
        <part name="parameters" element="tns:getGoalTypeListResponse"/>
    </message>
    <message name="getBmi">
        <part name="parameters" element="tns:getBmi"/>
    </message>
    <message name="getBmiResponse">
        <part name="parameters" element="tns:getBmiResponse"/>
    </message>
    <portType name="Storage">
        <operation name="readPerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readPersonRequest"
                   message="tns:readPerson"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readPersonResponse"
                    message="tns:readPersonResponse"/>
        </operation>
        <operation name="createPerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createPersonRequest"
                   message="tns:createPerson"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createPersonResponse"
                    message="tns:createPersonResponse"/>
        </operation>
        <operation name="updatePerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updatePersonRequest"
                   message="tns:updatePerson"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updatePersonResponse"
                    message="tns:updatePersonResponse"/>
        </operation>
        <operation name="deletePerson">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deletePersonRequest"
                   message="tns:deletePerson"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deletePersonResponse"
                    message="tns:deletePersonResponse"/>
        </operation>
        <operation name="readMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureRequest"
                   message="tns:readMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureResponse"
                    message="tns:readMeasureResponse"/>
        </operation>
        <operation name="getMeasureHistory">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureHistoryRequest"
                   message="tns:getMeasureHistory"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureHistoryResponse"
                    message="tns:getMeasureHistoryResponse"/>
        </operation>
        <operation name="getSomeMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getSomeMeasureRequest"
                   message="tns:getSomeMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getSomeMeasureResponse"
                    message="tns:getSomeMeasureResponse"/>
        </operation>
        <operation name="getLastMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureRequest"
                   message="tns:getLastMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getLastMeasureResponse"
                    message="tns:getLastMeasureResponse"/>
        </operation>
        <operation name="createMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createMeasureRequest"
                   message="tns:createMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createMeasureResponse"
                    message="tns:createMeasureResponse"/>
        </operation>
        <operation name="updateMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updateMeasureRequest"
                   message="tns:updateMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updateMeasureResponse"
                    message="tns:updateMeasureResponse"/>
        </operation>
        <operation name="deleteMeasure">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deleteMeasureRequest"
                   message="tns:deleteMeasure"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deleteMeasureResponse"
                    message="tns:deleteMeasureResponse"/>
        </operation>
        <operation name="readMeasureType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureTypeRequest"
                   message="tns:readMeasureType"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readMeasureTypeResponse"
                    message="tns:readMeasureTypeResponse"/>
        </operation>
        <operation name="getMeasureTypeList">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureTypeListRequest"
                   message="tns:getMeasureTypeList"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getMeasureTypeListResponse"
                    message="tns:getMeasureTypeListResponse"/>
        </operation>
        <operation name="readGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalRequest" message="tns:readGoal"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalResponse"
                    message="tns:readGoalResponse"/>
        </operation>
        <operation name="getGoalHistory">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalHistoryRequest"
                   message="tns:getGoalHistory"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalHistoryResponse"
                    message="tns:getGoalHistoryResponse"/>
        </operation>
        <operation name="createGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/createGoalRequest"
                   message="tns:createGoal"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/createGoalResponse"
                    message="tns:createGoalResponse"/>
        </operation>
        <operation name="updateGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/updateGoalRequest"
                   message="tns:updateGoal"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/updateGoalResponse"
                    message="tns:updateGoalResponse"/>
        </operation>
        <operation name="deleteGoal">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/deleteGoalRequest"
                   message="tns:deleteGoal"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/deleteGoalResponse"
                    message="tns:deleteGoalResponse"/>
        </operation>
        <operation name="getGoalByTitle">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalByTitleRequest"
                   message="tns:getGoalByTitle"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalByTitleResponse"
                    message="tns:getGoalByTitleResponse"/>
        </operation>
        <operation name="readGoalType">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalTypeRequest"
                   message="tns:readGoalType"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/readGoalTypeResponse"
                    message="tns:readGoalTypeResponse"/>
        </operation>
        <operation name="getGoalTypeList">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalTypeListRequest"
                   message="tns:getGoalTypeList"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getGoalTypeListResponse"
                    message="tns:getGoalTypeListResponse"/>
        </operation>
        <operation name="getBmi">
            <input wsam:Action="http://webservice.storage.lifecoach/Storage/getBmiRequest" message="tns:getBmi"/>
            <output wsam:Action="http://webservice.storage.lifecoach/Storage/getBmiResponse"
                    message="tns:getBmiResponse"/>
        </operation>
    </portType>
    <binding name="StorageImplementationPortBinding" type="tns:Storage">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="readPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updatePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deletePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="readMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMeasureHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSomeMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLastMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="readMeasureType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMeasureTypeList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="readGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGoalHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGoalByTitle">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="readGoalType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGoalTypeList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBmi">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="StorageService">
        <port name="StorageImplementationPort" binding="tns:StorageImplementationPortBinding">
            <soap:address location="http://localhost:6902/ws/storage"/>
        </port>
    </service>
</definitions>