src/main/java/lifestylecoach/ws/business/business10.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.business.lifecoach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.business.lifecoach/"
        name="BusinessService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.localdb.lifecoach/"
                        schemaLocation="http://localhost:6901/ws/business?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.business.lifecoach/"
                        schemaLocation="http://localhost:6901/ws/business?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservice.adaptor.lifecoach/"
                        schemaLocation="http://localhost:6901/ws/business?xsd=3"/>
        </xsd:schema>
    </types>
    <message name="createPerson">
        <part name="parameters" element="tns:createPerson"/>
    </message>
    <message name="createPersonResponse">
        <part name="parameters" element="tns:createPersonResponse"/>
    </message>
    <message name="updatePerson">
        <part name="parameters" element="tns:updatePerson"/>
    </message>
    <message name="updatePersonResponse">
        <part name="parameters" element="tns:updatePersonResponse"/>
    </message>
    <message name="deletePerson">
        <part name="parameters" element="tns:deletePerson"/>
    </message>
    <message name="deletePersonResponse">
        <part name="parameters" element="tns:deletePersonResponse"/>
    </message>
    <message name="createMeasure">
        <part name="parameters" element="tns:createMeasure"/>
    </message>
    <message name="createMeasureResponse">
        <part name="parameters" element="tns:createMeasureResponse"/>
    </message>
    <message name="updateMeasure">
        <part name="parameters" element="tns:updateMeasure"/>
    </message>
    <message name="updateMeasureResponse">
        <part name="parameters" element="tns:updateMeasureResponse"/>
    </message>
    <message name="deleteMeasure">
        <part name="parameters" element="tns:deleteMeasure"/>
    </message>
    <message name="deleteMeasureResponse">
        <part name="parameters" element="tns:deleteMeasureResponse"/>
    </message>
    <message name="getGoals">
        <part name="parameters" element="tns:getGoals"/>
    </message>
    <message name="getGoalsResponse">
        <part name="parameters" element="tns:getGoalsResponse"/>
    </message>
    <message name="createGoal">
        <part name="parameters" element="tns:createGoal"/>
    </message>
    <message name="createGoalResponse">
        <part name="parameters" element="tns:createGoalResponse"/>
    </message>
    <message name="updateGoal">
        <part name="parameters" element="tns:updateGoal"/>
    </message>
    <message name="updateGoalResponse">
        <part name="parameters" element="tns:updateGoalResponse"/>
    </message>
    <message name="deleteGoal">
        <part name="parameters" element="tns:deleteGoal"/>
    </message>
    <message name="deleteGoalResponse">
        <part name="parameters" element="tns:deleteGoalResponse"/>
    </message>
    <message name="deleteGoalByTitle">
        <part name="parameters" element="tns:deleteGoalByTitle"/>
    </message>
    <message name="deleteGoalByTitleResponse">
        <part name="parameters" element="tns:deleteGoalByTitleResponse"/>
    </message>
    <message name="getBmi">
        <part name="parameters" element="tns:getBmi"/>
    </message>
    <message name="getBmiResponse">
        <part name="parameters" element="tns:getBmiResponse"/>
    </message>
    <portType name="Business">
        <operation name="createPerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createPersonRequest"
                   message="tns:createPerson"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createPersonResponse"
                    message="tns:createPersonResponse"/>
        </operation>
        <operation name="updatePerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updatePersonRequest"
                   message="tns:updatePerson"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updatePersonResponse"
                    message="tns:updatePersonResponse"/>
        </operation>
        <operation name="deletePerson">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deletePersonRequest"
                   message="tns:deletePerson"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deletePersonResponse"
                    message="tns:deletePersonResponse"/>
        </operation>
        <operation name="createMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createMeasureRequest"
                   message="tns:createMeasure"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createMeasureResponse"
                    message="tns:createMeasureResponse"/>
        </operation>
        <operation name="updateMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updateMeasureRequest"
                   message="tns:updateMeasure"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updateMeasureResponse"
                    message="tns:updateMeasureResponse"/>
        </operation>
        <operation name="deleteMeasure">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteMeasureRequest"
                   message="tns:deleteMeasure"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteMeasureResponse"
                    message="tns:deleteMeasureResponse"/>
        </operation>
        <operation name="getGoals">
            <input wsam:Action="http://webservice.business.lifecoach/Business/getGoalsRequest" message="tns:getGoals"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/getGoalsResponse"
                    message="tns:getGoalsResponse"/>
        </operation>
        <operation name="createGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/createGoalRequest"
                   message="tns:createGoal"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/createGoalResponse"
                    message="tns:createGoalResponse"/>
        </operation>
        <operation name="updateGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/updateGoalRequest"
                   message="tns:updateGoal"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/updateGoalResponse"
                    message="tns:updateGoalResponse"/>
        </operation>
        <operation name="deleteGoal">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalRequest"
                   message="tns:deleteGoal"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalResponse"
                    message="tns:deleteGoalResponse"/>
        </operation>
        <operation name="deleteGoalByTitle">
            <input wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalByTitleRequest"
                   message="tns:deleteGoalByTitle"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/deleteGoalByTitleResponse"
                    message="tns:deleteGoalByTitleResponse"/>
        </operation>
        <operation name="getBmi">
            <input wsam:Action="http://webservice.business.lifecoach/Business/getBmiRequest" message="tns:getBmi"/>
            <output wsam:Action="http://webservice.business.lifecoach/Business/getBmiResponse"
                    message="tns:getBmiResponse"/>
        </operation>
    </portType>
    <binding name="BusinessImplementationPortBinding" type="tns:Business">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="createPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updatePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deletePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteMeasure">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGoals">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteGoal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteGoalByTitle">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBmi">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BusinessService">
        <port name="BusinessImplementationPort" binding="tns:BusinessImplementationPortBinding">
            <soap:address location="http://localhost:6901/ws/business"/>
        </port>
    </service>
</definitions>